body {
    /* padding-bottom: 50px !important; Ensure space for fixed summary */
}

.number-input {
    display: flex;
    align-items: center;
}

.number-input button {
    padding: 5px 10px;
    cursor: pointer;
}

.number-input input {
    width: 50px;
    text-align: center;
    -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, and Opera */
.number-input input::-webkit-outer-spin-button,
.number-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cartitem-container {
    width: 500px;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-gap: 5px;
    padding: 0;

}

.cartitem-container div {
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartitem-container .img-container {
    width: 100%;
    height: 100%;
}

.cartitem-container .img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px; /* Adds space below the table */
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Description format */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px; /* Adjust based on your layout */
}

.tooltip:hover::after {
    content: attr(title);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: normal;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: max-content;
    max-width: 300px; /* Adjust as needed */
}

.select-book{
    cursor: pointer;
}

